version: '3.8'

services:
  mariadb:
    image: mariadb:10.6
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: wordpress
      MYSQL_USER: wordpress
      MYSQL_PASSWORD: secret
    volumes:
      - mariadb-data:/var/lib/mysql
    deploy:
      resources:
        reservations:
          cpus: '0.25'
          memory: 256M
    labels:
      kompose.service.type: ClusterIP
      kompose.volume.size: 5Gi

  wordpress:
    image: bitnami/wordpress
    expose:
      - "8080"
    environment:
      WORDPRESS_DATABASE_HOST: mariadb
      WORDPRESS_DATABASE_PORT_NUMBER: "3306"
      WORDPRESS_DATABASE_USER: wordpress
      WORDPRESS_DATABASE_PASSWORD: secret
      WORDPRESS_DATABASE_NAME: wordpress
    volumes:
      - wordpress-data:/bitnami/wordpress
    depends_on:
      - mariadb
    deploy:
      replicas: 2
      resources:
        reservations:
          cpus: '0.20'
          memory: 256M
    labels:
      kompose.service.type: LoadBalancer

volumes:
  mariadb-data:
    driver: local
  wordpress-data:
    driver: local
